# Tartalmazza a fejlesztéshez és csomagoláshoz szükséges függőségeket.

# Csomag saját függőségeinek importálása
-r requirements.txt

# Fejlesztés (vscode):
autopep8
pylint
rope

# Tesztelés
pytest

# Csomagolás
setuptools
twine
wheel
